
        body{
        width: 1100px;
        background-image: url("background-618226_1280.png");
        background-size: contain;
        max-width: 95%;
        margin: auto;
        }
       
        html {
          scroll-behavior: smooth;
        }

      /* Add a black background color to the top navigation */
.topnav {
  background-color: lightpink;
  overflow: hidden;
  border-radius: 10px;
}

#topnav {
 
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #131010;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}

.topnav #MJ {
  padding-right: 25px;
  padding-left: 25px;
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: rgb(240, 238, 238)
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

    /* resume text */
        .header {
          color: green;
          font-size: 20px;
          padding-right: 50px;
          padding-top: 50px;
          padding-bottom: 10px;
          font-family: Verdana, sans-serif;
        text-align: right;
      }
    
      img {
        padding-right: 40px;
        padding-top: 40px;
        padding-left: 40px;    
      }
      
     /* image container */
.img-hover-zoom {
  
  width: 225px;
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* Blur-zoom Container */
.img-hover-zoom--blur img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.5);
}

/* The Transformation */
.img-hover-zoom--blur:hover img {
  filter: blur(0);
  transform: scale(1.2);
}

/* intro */
.info h2 {  
  margin-bottom: -20px;
  padding-left: 30px;
  font-size: 70px;
  text-align: inherit;
 
  color:rgb(182, 60, 12);
  }

  /* intro */
  .info h3 {
    font-size: 40px;
    word-wrap: break-word;
    color:rgb(182, 60, 12);
    padding-bottom: 50px;
    padding-left: 105px;
    margin-top: 10px;
  }
      /* content */  
        .columns {
          background-color: rgba(109, 96, 40, 0);
          background-position-x: center;
          padding-top: 0px;
          padding-right: 40px;
          padding-bottom: 20px;
          padding-left: 30px;
         
        }
        
        .firstcolumn {   
          background-color: lightpink;
          
          border-radius: 15px;
           border: 15px solid green;
           padding: 50px;
           margin: 20px;
          
          float: center;
          width: auto;
          padding-top: 20px;
          padding-right: 40px;
          padding-bottom: 20px;
          padding-left: 30px;
          word-wrap: break-word;
              }
              .button {
                padding: 10px 18px;
                font-size: 10px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #04AA6D;
                border: none;
                border-radius: 11px;
                box-shadow: 0 9px #999;
              }
              .button:hover {background-color: #3e8e41}

              .button:active {
               background-color: #3e8e41;
               box-shadow: 0 5px #666;
               transform: translateY(4px);
                }
        
        .middlecolumn {
          background-color: lightpink;
          border-radius: 15px;
          border: 15px solid green;
          padding: 50px;
          margin: 20px;
        float: center;
        width: auto;
        padding-top: 0px;
         padding-right: 30px;
         padding-bottom: 20px;
         padding-left: 20px;
         word-wrap: break-word;
      }
      .lastcolumn {
        background-color: lightpink;
        border: 15px solid green;
        border-radius: 15px;
        padding: 50px;
        margin: 20px;
            float: center;
            width: auto;
            text-align: center;
            padding-top: 0px;
            padding-right: 30px;
            padding-bottom: 0px;
            padding-left: 20px;
            word-wrap: break-word;
      }
      
     

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: rgb(235, 183, 191);
border-radius: 10px;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    background: green;
    border-radius: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

      .footer {
        padding: 20px;
        text-align: center;
        background: lightgreen;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 15px #4CAF50;
        border-radius: 15px;
      }
      
      /* content alignment for mobile platform */
@media screen and (max-width: 800px) {
  .firstcolumn, .middlecolumn, .lastcolumn {   
    width: 100%;
    padding: 10px;
    margin-left: -15px;
    border-width: 10px;
  }
}
/* navigation bar for mobile devices */
@media screen and (max-width: 480px) {
 /* Add a black background color to the top navigation */
 .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.topnav {
  background-color: lightpink;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #1a0202;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav #MJ {
  padding-left: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
}
   /* remaining structure alignment for mobile platform */
        @media screen and (max-width: 480px) {
          .body {
            background-size: contain;
          }
          .header {
            font-size: 15px;
            padding-right: 20px;
            margin-top: -30px;
          }
          .img-hover-zoom--blur {
            padding-right: 60px;
            
            margin-left: auto;
            margin-right: auto;
            height: auto;
            position: relative;
            border-radius: 80%;
          }
          .img-hover-zoom--blur img {
          filter: none;
            transform: none;
            
          }
  
          .img-hover-zoom--blur:hover img {
            filter: none;
            transform: none;
          }
          .center {
            display: block;
            margin-left: 70px;
            margin-right: auto;
            width: 50%;
          }
          .info h2 {
            font-size: 40px;
          
            display: block;
            margin-top: 150px;
            margin-left: auto;
            margin-right: auto;
            width: auto;
          }
          .info h3 {
           font-size: 20px;
           
            display: block;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            width: auto;
          }
        }
       
